.texts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.texts-container .title {
    color: #d2d3d3;
    font-size: 25px;
    margin-bottom: 50px;
}

.texts-container .texts {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.text-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    line-height: 1.5;
    width: 100%;
    max-width: 500px;
    border-bottom: 2px solid #9615db;
    padding: 10px;
}

.text-card h3 {
    color: #9615db;
}

.text-card h4 {
    color: #7d7f80;
}

.text-card p.text-content {
    color: #d2d3d3;
}

.text-card button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #555759;
    color: white;
    font-size: 17px;
    transition: 0.3s;
    width: 100px;
}

.text-card button:hover {
    background-color: palegreen;
    color: black;
}