main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* height: 200vh; */
    margin-top: 5rem;
}


main .hero img {
    height: 300px;
}

main > div {
    margin-bottom: 100px;
}

main .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 80px;
}

main .info .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

main .info .content p.text-1 {
    font-size: 20px;
    padding: 0 0 20px 0;
    color: #d2d3d3;
    border-bottom: 1px solid #555759;

}

main .info .content p.text-2 {
    color: #d2d3d3;
    font-size: 20px;
}

main .info .content p span {
    color: #9615db;
}

main .info .cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    margin: auto;
    width: 100%;
}

main .info .cards .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 250px;
    width: 250px;
    gap: 20px;
    border-bottom: 3px solid #9615db;
    cursor: pointer;
    transition: 0.3s;
}

main .info .cards .card .card-title {
    font-size: 20px;
    color: #d2d3d3;
    transition: 0.3s;
}

main .info .cards .card .card-content {
    color: #7d7f80;
    transition: 0.3s;
}

main .info .cards .card:hover {
    transform: scale(1.15);
    
}

main .info .cards .card:hover .card-content {
    color: #d2d3d3;
}

main .info .cards .card:hover .card-title {
    color: #7d7f80;
}

/* TESTIMONIALS ----------------- */

main .testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

main .testimonials-text {
    font-size: 20px;
    color: #d2d3d3;
    border-bottom: 1px solid #555759;
    padding-bottom: 10px;
}

main .testimonials-text span {
    color: #9615db;
}

main .testimonials-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 90%;
    flex-wrap: wrap;
}

main .testimonial {
    width: 40%;
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 10px;
}



main .testimonial .test-l img {
    height: 100px;
    border-radius: 50px;
}

main .testimonial .test-r {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-left: 2px solid #555759;
    padding-left: 10px;
}

main .testimonial .test-r .t-level {
    color: #9615db;
    font-size: 20px;
}

main .testimonial .test-r .t-text {
    color: #d2d3d3;
}

main .testimonial .test-r .t-name {
    color: #7d7f80;
}

/* FOOTER ------------------- */

footer {
    background-color: #1f2123;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0 10px 0;
}

footer .footer-left  {
    padding: 5px;
    width: 25%;
    text-align: center;
    border-right: 3px solid #9615db;
}

footer .footer-left span {
    color: #9615db;
}

footer .footer-left p {
    color: white;
    line-height: 2;
}

footer .footer-left img {
    height: 150px;
}

footer .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 60%;
}

footer .footer-right p {
    font-size: 20px;
    color: #d2d3d3;
}

footer .footer-right .footer-links {
    display: flex;
    gap: 20px;
}

footer .footer-right .footer-links .social {
    color: #9615db;
    font-size: 40px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

footer .footer-right .footer-links .social:hover {
    color: #db15bd;
    border-bottom: 2px solid #555759;
}

/* MEDIA QUERIES */

@media (max-width: 1024px) {
    main .info .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
    }

    main .info .cards .card {
        width: 80%;
        height: fit-content;
        padding: 10px 0 10px 0;
        border-bottom: 3px solid #9615db;
        justify-content: none;
    }

    main .info .cards .card:hover .card-content {
        color: #7d7f80;
        }
    
    main .info .cards .card:hover .card-title {
        color: #d2d3d3;
        }
    
    main .info .cards .card:hover {
            transform: none;
            
        }
    
    footer .footer-left img {
        height: 100px;
    }

    footer .footer-left p {
        font-size: 15px;
        line-height: 1.5;
    }

    footer .footer-right .footer-links .social {
        border-bottom: none;
    }

    footer .footer-right .footer-links .social:hover {
        color: #9615db;
        border-bottom: none;
    }
    
}

@media (max-width: 850px) {
    main .hero img {
        height: 150px;
    }

    main .info .content p.text-1 {
        text-align: center;
    }

    main .testimonials-container  {
        width: 100%;
        gap: 0;
        justify-content: space-between;
    }

    main .testimonial {
        width: 50%;
    }

    main .testimonial .test-l img {
        display: none;
    }
}

@media (max-width: 600px) {

    main .testimonial img {
        display: none;
    }

    main .info .content p.text-1 {
        text-align: center;
    }

    main .testimonials-text {
        text-align: center;
    }

    footer .footer-left {
        width: 50%;
    }

    footer .footer-right .footer-links .social {
        font-size: 30px;
        padding: 0;
    }
}