main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200vh;
    margin-top: 5rem;
}


main .hero img {
    height: 300px;
}

main .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 80px;
}

main .info .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

main .info .content p.text-1 {
    font-size: 20px;
    padding: 0 0 20px 0;
    color: #d2d3d3;
    border-bottom: 1px solid #555759;

}

main .info .content p.text-2 {
    color: #d2d3d3;
    font-size: 20px;
}

main .info .content p span {
    color: #9615db;
}

main .info .cards {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 100%;
}

main .info .cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 250px;
    width: 250px;
    border-bottom: 3px solid #9615db;
    cursor: pointer;
    transition: 0.3s;
}

main .info .cards .card .card-title {
    font-size: 20px;
    color: #d2d3d3;
    transition: 0.3s;
}

main .info .cards .card .card-content {
    color: #7d7f80;
    transition: 0.3s;
}

main .info .cards .card:hover {
    transform: scale(1.15);
    
}

main .info .cards .card:hover .card-content {
    color: #d2d3d3;
}

main .info .cards .card:hover .card-title {
    color: #7d7f80;
}

main .testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

main .testimonials-text {
    font-size: 20px;
    color: #d2d3d3;
    border-bottom: 1px solid #555759;
    padding-bottom: 10px;
}

main .testimonials-text span {
    color: #9615db;
}

main .testimonials-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 90%;
    flex-wrap: wrap;
}

main .testimonial {
    width: 40%;
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 10px;
}



main .testimonial .test-l img {
    height: 100px;
    border-radius: 50px;
}

main .testimonial .test-r {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-left: 2px solid #555759;
    padding-left: 10px;
}

main .testimonial .test-r .t-level {
    color: #9615db;
    font-size: 20px;
}

main .testimonial .test-r .t-text {
    color: #d2d3d3;
}

main .testimonial .test-r .t-name {
    color: #7d7f80;
}


footer {
    /* border: 1px solid red; */
    background-color: #1f2123;
    display: flex;
    margin: auto;
    
}

footer .footer-left  {
    /* border: 3px solid yellow; */
    padding: 5px;
    width: 25%;
    text-align: center;
    border-right: 3px solid #9615db;
}

footer .footer-left span {
    color: #9615db;
}

footer .footer-left p {
    color: white;
    line-height: 2;
}

footer .footer-left img {
    height: 150px;
}

footer .footer-right {
    border: 1px solid red;
}






/* @media (max-width: 1024px) {
    main .info .cards {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    main .hero img {
        height: 150px;
    }

    main .testimonial img {
        display: none;
    }

    main .info .content p.text-1 {
        text-align: center;
    }
} */