nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    width: 80%;
    margin: auto;
}

nav .left img {
    height: 100px;
}

nav .right {
    display: flex;
    align-items: center;
    gap: 15px;
}

nav .right .link {
    text-decoration: none;
    color: white;
    font-size: 15px;
    border-radius: 15px;
    background-color: #EE6C4D;
    background-color: #98FF98;
    background-color: #9615db;
    padding: 10px;
    transition: 0.3s;
}

nav .right .link:hover {
    background-color: #be563d;
}

nav .right button {
    background-color: #B20D30;
    border-radius: 15px;
    font-size: 15px;
    padding: 10px;
    transition: 0.3s;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}

nav .right button:hover {
    background-color: #7c0921;
}

@media (max-width: 750px) {
    nav .left {
        display: none;
    }

    nav {
        justify-content: center;
        padding: 15px;
    }
}

@media (max-width: 660px) {
    nav .right {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
        text-align: center;
    }

    nav .right .link {
        width: 100%;
    }

    nav .right button {
        width: 100%;
    }
}