nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    width: 80%;
    margin: auto;
}

nav .left img {
    height: 100px;
}

nav .right {
    display: flex;
    align-items: center;
    gap: 15px;
}

nav .right .link {
    text-decoration: none;
    color: black;
    font-size: 15px;
    color: white;
    border-radius: 15px;
    background-color: #EE6C4D;
    padding: 10px;
    transition: 0.3s;
}

nav .right .link:hover {
    background-color: #be563d;
}

nav .right button {
    background-color: #e84855;
    border-radius: 15px;
    font-size: 15px;
    padding: 10px;
    transition: 0.3s;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}

nav .right button:hover {
    background-color: #b93944;
}