.container {
    margin-top: 5rem;
    text-align: center;
}

.container h2 {
    color: #d2d3d3;
}

.container form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.container form .form-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.container form label {
    color: #9615db;
    margin-bottom: 10px;
}

.container form input {
    height: 30px;
    padding: 5px;
    border: none;
    background: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 17px;
    width: 100%;
    text-align: center;
}

.container form input:focus {
    outline: none;
}

.container form button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #555759;
    color: white;
    font-size: 17px;
    transition: 0.3s;
}

.container form button:hover {
    background-color: palegreen;
    color: black;
}

.container form p {
    color: white;
}

.container form p span {
    color: #9615db;
    border-bottom: 1px solid #9615db;
    padding: 0 0 5px 0;
    font-weight: bold;
}


/* MEDIA QUERIES----------- */

@media (max-width: 700px) {

    .container form .form-element {
        width: 50%;
    }

    .container form input {
        width: 100%;
        text-align: center;
    }

    .container form p span {
        border: none;
    }
}