.texts-saved {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}

.texts-saved .title {
    color: #d2d3d3;
    font-size: 25px;
    margin-bottom: 50px;
}

.texts-saved .texts {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.my-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    line-height: 1.5;
    width: 100%;
    max-width: 500px;
    border-bottom: 2px solid #9615db;
    padding: 10px;
}

.texts-saved h3 {
    color: #9615db;
}

.texts-saved h4 {
    color: #7d7f80;
}

.texts-saved p {
    color: #d2d3d3;
}

.texts-saved .my-text .buttons {
    display: flex;
    gap: 10px;
}

.texts-saved .my-text .delete {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #B20D30;
    color: white;
    font-size: 17px;
    transition: 0.3s;
    
}

.texts-saved .my-text button.full-text {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #555759;
    color: white;
    font-size: 17px;
    transition: 0.3s;
}

.texts-saved .my-text button.delete:hover {
    background-color: #7c0921;
}

.texts-saved .my-text button.full-text:hover {
    background-color: #444547;
}